footer {
  background-color: green;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

p {
  text-align: center;
  font-size: 25px;
  color: white;
}

.contact_section {
  display: flex;
  flex: 40px;
  top: 500px;
  height: 80px;
  align-items: center;
}

ul {
  display: inline-flex;
  margin: 0 auto;
  left: 40%;
}

li {
  list-style: none;
  padding: 1em;
}

a {
  text-decoration: none;
}
