nav {
  background-color: yellow;
  align-items: center;
  position: relative;
  display: flex;
  font-size: 20px;
  top: 0;
  /*left: 100%;*/
}

li {
  display: inline-flex;
  padding: 1em;
}

a {
  text-decoration: none;
}

ul {
  /*left: 100%;*/
  list-style: none;
  flex: 1 0 0;
  /*display: inline-block;*/
  /*padding-left: 0;*/
  /*padding-bottom: 0;*/
  /*position: absolute;*/
}

.home_button {
  display: inline-block;
  padding-left: 100px;
  flex: 3 0 0;
}

